# This is Git's per-user configuration file.
[user]
	name = Daniel Martinez Olivas
	email = danielmartinezolivas@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = '/usr/local/bin/subl' -w
